@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-radio-checked .ant-radio-disabled span.ant-radio-inner {
  background: #d8d8d8 !important;
}

.ant-switch-handle::before {
  background-color: #6b47ed !important;
}
.ant-switch-checked .ant-switch-handle::before {
  background-color: white !important;
}

.ant-btn {
  height: 100%;
  padding: 16px 68px 16px 68px;
}
